__pycache__/
*.pyc
*.pth
*.ckpt
checkpoints/
wandb/
ffhq-dataset/
outputs/
*.out
*.save
.DS_Store
scratchpad.py
model_scratchpad.py
json_configs/S256_DiT_S_4_Vel_OS_Lin_No_clouds_RGB.json
json_configs/S256_DiT_S_4_Vel_OS_Lin_TEST_2_RGB.json
json_configs/satellite_colab.json
json_configs/blank_config.json
common/interflow/stochastic_interpolant_old.py
common/interflow/gmm-vs.py
